main {
  background: url(../assets/crew/background-crew-mobile.jpg) no-repeat;
  background-size: cover;
}

.crew {
  color: var(--tetiary-color);
  /* outline: auto; */
  padding: 0 5%;
  text-align: center;
}
.crew h2 {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  padding: 20px 0;
}

.crew span {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  margin: 0 7px;

  mix-blend-mode: normal;
  opacity: 0.25;
}

.crew-img {
  width: 177.12px;
  height: 222px;
  margin: 32px auto;
  background: url(../assets/crew/image-douglas-hurley.png) no-repeat;
  background-size: contain;
  /* outline: auto; */
  margin-bottom: 0;
}

.dots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 70px;
  height: 50px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;

  background: var(--tetiary-color);
  mix-blend-mode: normal;
  opacity: 0.17;
  cursor: pointer;
}

.active-dot {
  opacity: 1;
}

.crew-info h3 {
  font-family: Bellefair;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  color: var(--tetiary-color);

  mix-blend-mode: normal;
  opacity: 0.5;
}

.crew-info h1 {
  font-family: Bellefair;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin: 8px 0;
  text-align: center;
  text-transform: uppercase;

  color: var(--tetiary-color);
}

.crew-info p {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  /* or 167% */

  text-align: center;

  color: var(--secondary-color);
}

hr {
  height: 0;
}

/* Tablets */
@media screen and (min-width: 768px) {
  main {
    background: url(../assets/crew/background-crew-tablet.jpg) no-repeat;

    background-size: cover;
  }

  .crew {
    width: 100%;
  }
  .crew-wrap {
    display: flex;
    margin: auto;
    flex-flow: column-reverse;
  }

  .crew-info {
    margin: 0 auto;
    width: 458px;
    height: 232px;
  }
  .crew h2 {
    text-align: left;
  }

  .crew-img {
    width: 456.37px;
    height: 472px;
  }
}

/* Desktops */
@media screen and (min-width: 1024px) {
  .crew h2,
  .crew span {
    font-size: 28px;
    line-height: 34px;

    letter-spacing: 4.725px;
  }

  hr {
    display: none;
  }

  .crew-wrap {
    display: grid;
    flex-flow: row-reverse;
    /* outline: auto; */
  }

  .crew-info {
    display: flex;
    flex-flow: column;
    margin: auto 0;
    width: 100%;

    grid-column: 1/7;
    grid-row: 1/2;
  }

  .crew-img {
    grid-column: 9/-1;
    grid-row: 1/2;
  }

  .crew-info :is(h3, h1, p) {
    text-align: left;
  }

  .crew-info h3 {
    font-size: 32px;
    line-height: 37px;
  }

  .crew-info h1 {
    font-size: 56px;
    line-height: 64px;
  }

  .crew-info p {
    width: 444px;
    height: 128px;
  }

  .dots {
    order: 3;
    margin-left: 0;
    margin-top: 30px;
  }
}
